.caption-btn{
    display: flex;
color: white;
}
img{
    width: 100%;
    height: 450px;
}
@media screen and (max-width:500px){
    .caption-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}